{{# @name Footer @desc The sites footer rendered on each page. #}}

<!-- /layout/_footer.antlers.html -->
<footer class="fluid-grid py-20 mt-auto bg-black">
    <div
        class="span-content flex flex-col space-y-4 md:space-y-0 md:justify-between md:space-x-4 md:items-center"
    >
        <div class="span-content grid md:grid-cols-12 gap-fluid-grid-gap">
            <div class="col-span-3 space-y-2">
                <img
                    src="/favicons/logotaustata.png"
                    class="select-none {{ class }}"
                    width="{{ width }}"
                    alt="{{ config:app:name }}"
                />
                <p class="text-white">
                    TTK Grupp on oma ala ekspert katuseehituses, katusesse integreeritud päikesepaneelide paigaldamises ja erinevates plekitöödes. Järgime Põhjamaade ja Eesti ehitusnorme ning pakume kvaliteetset teenust üle Eesti. 
                </p>
            </div>
            <div class="col-span-3 text-white space-y-5">
                <p class="text-xl font-bold">Rohkem infot</p>
                <p>Teenused</p>
                <p>Katusepaigaldus</p>
                <p>Päikesekatus</p>
                <p>Müügitingimused</p>
            </div>
            <div class="col-span-3 text-white space-y-5">
                <p class="text-xl font-bold">Tehtud tööd</p>
                <p>Meist</p>
                <p>Kontaktid</p>
                <p>Tule tööle</p>
                <p>Privaatsus tingimused</p>
            </div>
            <div class="col-span-3 text-white space-y-5">
                <p class="font-bold text-xl">TTK Grupp OÜ</p>
                <p>Reg.nr. 14907821</p>
                <a class="flex" href="mailto:ttkgrupp1@gmail.com"
                    >{{ heroicon:outline:envelope class="h-4 w-4 mr-4"
                    }}ttkgrupp1@gmail.com</a
                >
                <a class="flex" href="tel:+37253030836">
                    {{ heroicon:outline:device-phone-mobile class="h-4 w-4 mr-4"
                    }}+372 53 030 836</a
                >
            </div>
        </div>
        <div
            class="flex flex-col space-y-4 md:flex-row md:space-y-0 md:space-x-4 text-xs font-bold mt-8 text-white"
        >
            <span
                >Copyrights. Kõik õigused kaitstud. &copy; {{ now | format('Y')
                }} {{ configuration:copyright_name ?? config:app:name }}
            </span>

            {{# Let's users reset consent when you use the consent banner. #}}
            {{ yield:reset_consent }}
        </div>
        {{ if social_media:social_media }}
        <div class="flex space-x-2">
            {{ social_media:social_media }}
            <a
                class="p-1 -m-1 text-neutral text-neutral/50 focus:outline-none focus-visible:ring-2 ring-primary"
                href="{{ prefix }}{{ handle }}"
                rel="noopener{{ type == 'mastodon' ?= ' me' }}"
                aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}"
                target="_blank"
                >{{ svg :src="type" class="w-3 h-3 overflow-visible
                fill-current" alt="" aria-hidden="true" sanitize="true" }}</a
            >
            {{ /social_media:social_media }}
        </div>
        {{ /if }}
    </div>
</footer>
<!-- End: /layout/_footer.antlers.html -->
