{{ partial:page_builder/block }}
<div class="span-content grid md:grid-cols-12 gap-fluid-grid-gap">
    <div class="col-span-6">
        {{ partial:typography/prose as="article" class="contents leading-normal"
        }} {{ article }} {{ partial src="components/{type}" }} {{ /article }} {{
        /partial:typography/prose }}
    </div>
    <div class="col-span-6">

        <img src="{{ glide:image quality="{ quality ?? '200' }"}}"
        class="w-full object-cover aspect-video" cover="true" lazy="true">
    </div>
    
</div>
{{ /partial:page_builder/block }}
