{{#
    @name Cards
    @desc The Cards page builder block.
    @set page.page_builder.cards
#}}

<!-- /page_builder/_cards.antlers.html -->
{{ partial:page_builder/block }}
    <div class="span-content grid md:grid-cols-12 gap-fluid-grid-gap">
        {{ block:cards }}
            <article
                class="
                    flex flex-col justify-between items-start shadow-lg rounded no-underline focus:outline-none focus-visible:ring-2 ring-offset-2 ring-primary relative
                    {{ switch(
                        (total_results === 1) => 'md:col-span-8 md:col-start-3',
                        (total_results === 2) => 'md:col-span-6',
                        (total_results > 2) => 'md:col-span-8 md:col-start-3 lg:col-span-4 lg:col-start-0',
                        () => void
                    )}}
                "
            > {{ button }}
                <a class="group" {{ partial:statamic-peak-tools::snippets/button_attributes }} aria-hidden="true" tabindex="-1">
                            <div class="h-full w-full absolute  bg-gradient-to-t from-black/40 via-black/40 to-black/40 z-3"></div>

                    <img src="{{ glide:image quality="{ quality ?? '200' }"}}" class="object-cover aspect-video h-[400px] bg-blend-darken bg-black -opacity-25" cover="true" lazy="true"> 
                    <div class="z-10 absolute bottom-0">
                <div class="flex justify-end"><p class="font-semibold rounded-md text-white text-2xl px-6">{{title }}</p></div>
                <div class="flex mt-4">
                   {{ if button }}
                        <p class="text-white -mt-12 z-10" aria-hidden="true" tabindex="-1">
                               
                            </p>
                            {{ partial:typography/h3 class="sr-only" :content="title" }}
                        {{ else }}
                            {{ partial:typography/h3 class="" :content="title" }}
                        {{ /if }}

                        {{ if text }}
                            {{ partial:typography/p class="" :content="title" }}
                        {{ /if }}
                </div>
            </div>
                </a>{{ /button }}
            </article>
        {{ /block:cards }}
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_cards.antlers.html -->
