{{ partial:page_builder/block }}
<div class="span-content grid md:grid-cols-12 gap-fluid-grid-gap">
    <div class="col-span-12">
        {{ partial:typography/prose as="article" class="contents leading-normal"
        }} {{ article }} {{ partial src="components/{type}" }} {{ /article }} {{
        /partial:typography/prose }}
    </div>
    {{ replicator_field }}
        <div class="md:col-span-4 col-start-3">
            <div class="flip">
                <div class="front">
                    <img src="{{ glide:image quality="{ quality ?? '200' }"}}"
                    class="w-full object-cover aspect-video" cover="true"
                    lazy="true">
                </div>
                <div class="back">
                    <h2>{{ title }}</h2>
                    <p>
                        {{ article }} {{ partial src="components/{type}" }} {{
                        /article }}
                    </p>
                </div>
            </div>
        </div>
        {{ /replicator_field}}
    </div>
</div>
{{ /partial:page_builder/block }}

<style>
    .flip {
        position: relative;
        > .front,
        > .back {
            display: block;
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-duration: 0.7s;
            transition-property: transform, opacity;
        }
        > .front {
            transform: rotateY(0deg);
        }
        > .back {
            position: absolute;
            opacity: 0;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
                        background: #26282F;

            transform: rotateY(-180deg);
        }
        &:hover {
            > .front {
                transform: rotateY(180deg);
            }
            > .back {
                opacity: 1;
                transform: rotateY(0deg);
            }
        }
        &.flip-vertical {
            > .back {
                transform: rotateX(-180deg);
            }
            &:hover {
                > .front {
                    transform: rotateX(180deg);
                }
                > .back {
                    transform: rotateX(0deg);
                }
            }
        }
    }

    .flip {
        position: relative;
        display: inline-block;
        margin-right: 1px;
        margin-bottom: 1em;
        width: 400px;
        > .front,
        > .back {
            display: block;
            color: white;
            width: inherit;
            background-size: cover !important;
            background-position: center !important;
            height: 240px;
            padding: 1em 2em;
            border-radius: 10px;
            p {
                font-size: 0.9125rem;
                line-height: 160%;
                color: #999;
            }
        }
    }
</style>
