<section class="-mt-12 md:-mt-16 lg:-mt-24 bg-white relative">
    <div class="grid grid-cols-1 justify-center overflow-hidden">
        <div class="flex flex-col items-center static">
            <!-- Added relative positioning -->
            <img src="{{ glide:image fit="crop_focal" :bg="bg" :blur="blur"
            :brightness="brightness" :contrast="contrast" :filter="filter"
            :gamma="gamma" :pixelate="pixelate" :sharpen="sharpen" quality="{
            quality ?? '100' }}"}}" class="w-full aspect-square lg:aspect-video
            object-cover max-h-[350px]" loading="lazy">
            <div
                class="absolute top-1/2 transform lg:-translate-x-1/2 -translate-y-1/2 flex flex-col justify-center lg:w-2/5 text-white mx-20"
            >
                <!-- Adjusted styling and added absolute positioning -->
                {{ partial:typography/prose as="article"
                class="prose-p:text-white prose-h1:md:text-[31px]
                prose-h1:lg:text-[61px] prose-h1:font-bold prose-h1:text-white"
                }} {{ article }} {{ partial src="components/{type}"
                inverted="true" }} {{ /article }} {{ /partial:typography/prose
                }}
            </div>
        </div>
    </div>
</section>
{{ partial:page_builder/block }} {{/partial:page_builder/block }}
