
<section class="-mt-12 md:-mt-16 lg:-mt-24 bg-white">
    <div class="grid grid-cols-1 justify-center overflow-hidden">
        <div class="flex flex-col static">
            <img
            src="{{ glide:image
                fit="crop_focal" :bg="bg" :blur="blur" :brightness="brightness" :contrast="contrast" :filter="filter" :gamma="gamma" :pixelate="pixelate" :sharpen="sharpen" quality="{ quality ?? '100' }"}}"
                class="w-full aspect-square lg:aspect-video object-cover max-h-[650px]"
                cover="false"
                lazy="true">
                <div class="flex flex-col justify-center w-1/2 text-white bottom-8 inset-y-0 px-2 mx-8 md:mx-20 absolute">
                  
                    {{ partial:typography/prose as="article" class="prose-p:text-white prose-h1:md:text-[31px] prose-h1:lg:text-[61px] prose-h1:font-bold prose-h1:text-white" }}
                        {{ article }}
                            {{ partial src="components/{type}" inverted="true" }}
                        {{ /article }}
                    {{ /partial:typography/prose }}
                    
                </div>
            </div>
        </div>
        <div class="flex justify-center -mt-8 z-3">
            <div class="flex bg-white space-x-12 ">

                {{replicator_field}}
                <div class="flex flex-col justify-center items-center text-black p-4 z-3">
                    <p class="font-bold text-3xl">{{title}}</p>
                    <p>{{info}}</p>
                </div>
                {{/replicator_field}}
            </div>
        </div>
</section>
               




{{ partial:page_builder/block }}
                

{{/partial:page_builder/block }}